.scroll {
	flex: 1 1;
	overflow-y: overlay;
	position: relative;
}

.inner {
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
}

.category {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 1fr 1fr;
}
